@media only screen and (max-width: 1023px) {

	.cabecalho,
	.menu-lateral,
	.secao-horizontal .cartao__subtitulo,
	.secao-horizontal .cartao__player,
	.secao-horizontal .cartao__botao,
	.secao-vertical .secao__link,
	.rodape {
		display: none;
	}

	.navbar {
		display: block;
	}

	.container {
		padding-left: 0.6rem;
		padding-right: 0.6rem;
	}

	.secao__titulo {
		font-weight: 700;
		font-size: 1.5rem;
	}

	.secao__cartoes {
		row-gap: 0.6rem;
		--gap-coluna: 0.6rem;
	}

	.secao-horizontal .cartao {
		column-gap: 0.5rem;
	}

	.secao-horizontal .cartao__imagem {
		height: 58px;
		width: 58px;
	}

	.secao-horizontal .cartao__titulo {
		font: 700 11px/16px Open Sans, sans-serif;
		grid-row: 1/4;
		align-self: center;
	}

	.secao-vertical:last-of-type {
		margin-bottom: 6rem;
	}

	.secao-vertical .cartao {
		padding: 12px 10px;
	}

	.secao-vertical .cartao:nth-child(n+3) {
		display: none;
	}

	.secao-vertical .cartao__imagem {
		height: 140px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
	.container {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.navbar {
		display: none;
	}

	.menu-lateral {
		width: 213px;
	}

	.menu-lateral__link {
		font-size: .8rem;
	}

	.menu-lateral__link::before {
		padding-left: 0.75rem;
	}

	.secao__titulo {
		font-weight: 700;
		font-size: 1.2rem;
	}

	.secao__link:hover{
		color:var(--cor02);
	}

	.secao__cartoes {
		row-gap: 1rem;
		--gap-coluna: 1rem;
	}

	.cartao {
		transition-property: all;
		transition-duration: 0.4s;
		transition-timing-function: ease-in-out;
	}

	.cartao:hover {
		transform: scale(1.02);
		filter: saturate(170%);
	}

	.secao-horizontal .cartao__titulo,
	.secao-vertical .cartao__titulo {
		font: 700 1rem/1.5rem 'Open Sans', sans-serif;
	}

	.secao-horizontal .cartao__subtitulo,
	.secao-vertical .cartao__subtitulo {
		font: 400 0.8rem/1.5rem 'Open Sans', sans-serif;
		width: 100%;
	}

	.secao-vertical .cartao {
		padding: 12px 10px;
	}

	.secao-vertical .cartao__imagem {
		height: 160px;
	}

	.secao-vertical .cartao__titulo {
		padding: 0 17px;
	}

	.secao-vertical:last-of-type {
		margin-bottom: 7.5rem;
	}

	.secao-vertical .cartao:nth-child(n+5) {
		display: none;
	}
}

@media only screen and (min-width: 1400px) {
	.container {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.cabecalho{
		padding-top: 2.8rem;
	}

	.cabecalho__botao{
		transform: scale(1.3);	
	}

	.menu-lateral__logo {
		font-size: 2.2rem;
	}

	.menu-lateral__link {
		font-size: 1.3rem;
		line-height: 1.8rem;
	}

	.secao-horizontal {
		grid-template-rows: 100px auto;
	}

	.secao-horizontal .secao__titulo {
		align-self: flex-start;
		padding-top: 31px;
	}

	.secao__titulo {
		font-weight: 700;
		font-size: 1.8rem;
	}

	.secao__link{
		font-size: 1.5rem;
	}

	.secao__link:hover{
		color:var(--cor02);
	}

	.secao__cartoes {
		row-gap: 1.25rem;
		--gap-coluna: 1.25rem;
	}

	.cartao {
		transition-property: all;
		transition-duration: 0.4s;
		transition-timing-function: ease-in-out;
	}

	.cartao:hover {
		transform: scale(1.02);
		filter: saturate(170%);
	}

	.secao-horizontal .cartao__imagem {
		height: 100px;
	}

	.secao-vertical .cartao {
		padding: 12px 10px;
	}

	.secao-vertical .cartao__imagem {
		width: 165px;
		height: 165px;
	}

	.secao-horizontal .cartao__titulo{
		padding-bottom: 7px;
	}

	.cartao__titulo {
		font-size: 1.3rem;
		line-height: 1.8rem;
	}

	.cartao__subtitulo {
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	.secao-horizontal .cartao__player {
		width: 182px;
	}

	.secao-vertical:last-of-type {
		margin-bottom: 8.5rem;
	}

	.navbar {
		display: none;
	}

	.rodape__titulo{
		font-size: 1.2rem;
		line-height: 1.8rem;
	}

	.rodape__subtitulo{
		font-size: 1.1rem;		
	}
}