@media only screen and (max-width: 1023px) {
	.cabecalho,
	.menu-lateral,
	.secao-horizontal .cartao__subtitulo,
	.secao-horizontal .cartao__player,
	.secao-horizontal .cartao__botao,
	.secao-vertical .secao__link,
	.rodape {
		display: none;
	}

	.navbar {
		display: block;
	}

	.container {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.secao-cartoes {
		row-gap: 0.5rem;
		--gap-coluna: 1rem;
	}

	.secao-horizontal .cartao {
		column-gap: 0.5rem;
	}

	.secao-horizontal .cartao__imagem {
		height: 59px;
		width: 59px;
	}

	.secao-horizontal .cartao__titulo {
		font: 700 11px/20px Open Sans, sans-serif;
		grid-row: 1/4;
		align-self: center;
	}

	.secao-vertical:last-of-type {
		margin-bottom: 6rem;
	}

	.secao-vertical .cartao:nth-child(n+3) {
		display: none;
	}

	.secao-vertical .cartao__imagem {
		height: 116px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
	.container {
		padding-left: 1.25rem;
		padding-right: 1.25rem;
	}

	.navbar {
		display: none;
	}

	.menu-lateral {
		width: 213px;
	}

	.menu-lateral__link::before {
		padding-left: 0.75rem;
	}

	.secao-cartoes {
		--gap-coluna: 1.5rem;
	}

	.secao-horizontal .cartao__titulo,
	.secao-vertical .cartao__titulo {
		font: 700 16px/22px 'Open Sans', sans-serif;
	}

	.secao-horizontal .cartao__subtitulo,
	.secao-vertical .cartao__subtitulo {
		font: 400 14px/19px 'Open Sans', sans-serif;
		width: 100%;
	}

	.secao-vertical .cartao{
		padding: 24px 10px;
	}

	.secao-vertical .cartao__imagem {
		height: 160px;
	}

	.secao-vertical .cartao__titulo{
		padding: 0 17px;
	}

	.secao-vertical:last-of-type {
		margin-bottom: 7.5rem;
	}

	.secao-vertical .cartao:nth-child(n+5) {
		display: none;
	}
}

@media only screen and (min-width: 1400px) {
	.secao-vertical .cartao {
		padding: 15px;
	}

	.secao-vertical .cartao__imagem {
		height: 135px;
	}

	.secao-vertical:last-of-type {
		margin-bottom: 8.5rem;
	}

	.navbar {
		display: none;
	}
}